:root {
  --header-height: 80px;
  --header-padding: 15px;
  --selector-width: 240px
}

header {
  box-sizing: border-box;
  height: var(--header-height);
  display: flex;
  align-items: center;
  background: #fee;
  padding: var(--header-padding);
  gap: 16px;
  justify-content: space-between;
}

header .region-selector,
.type-selector {
  width: var(--selector-width);
}

header label {
  width: calc(var(--selector-width) * 2);
  text-align: right;
}

main {
  overflow-y: scroll;
  height: calc(100vh - calc(var(--header-height) + 20px));
  background: #eff;
  padding: 8px 72px;
}

main .pausing {
  text-align: center;
}

.selectors {
  display: flex;
  gap: 16px;
}